---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: cluster-apps-development-harbor
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/disabled: "true"
spec:
  path: ./kubernetes/apps/development/harbor/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-cluster
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: harbor
      namespace: development
  interval: 30m
  retryInterval: 1m
  timeout: 3m
  decryption:
    provider: sops
    secretRef:
      name: sops
  postBuild:
    substituteFrom:
      - kind: Secret
        name: harbor-secrets
      - kind: ConfigMap
        name: global-settings
      - kind: Secret
        name: global-secrets
      - kind: ConfigMap
        name: cluster-settings
      - kind: Secret
        name: cluster-secrets