---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: cluster-core-local-path-storage-classes
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-core-local-path-provisioner
  path: ./kubernetes/clusters/cluster-1-cloud-oci/deployments/core/kube-system/local-path-provisioner/storage-classes
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-cluster
  interval: 30m
  retryInterval: 1m
  timeout: 3m