---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: jaeger
  namespace: flux-system
spec:
  interval: 30m
  retryInterval: 1m
  timeout: 3m
  path: "./kubernetes/istio/observability/jaeger/app"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-cluster
  dependsOn:
    - name: istiod
      namespace: flux-system