---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: postgres-sso
  namespace: flux-system
spec:
  interval: 30m
  retryInterval: 1m
  timeout: 3m
  path: "./kubernetes/apps/sso/postgres/app"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-cluster